HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
api-gateway/src/main/resources/application.yml
eureka-server/src/main/resources/application.yml
service/user/src/main/resources/application.yml
service/chat/src/main/resources/application.yml
service/fcm/src/main/resources/application.yml
service/gathering/src/main/resources/application.yml
service/meeting/src/main/resources/application.yml
service/recommend/src/main/resources/application.yml
service/image/src/main/resources/application.yml
service/image/src/main/resources/application-aws.yml